.main-barraca-beijo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}


.interacao-container { 
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}